src/META-INF/wsdl/localhost_8080/GService/game.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="game">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/GService/game?xsd=1" />
</xsd:schema>
</types>
<message name="statuses">
<part name="parameters" element="tns:statuses" />
</message>
<message name="statusesResponse">
<part name="parameters" element="tns:statusesResponse" />
</message>
<message name="status">
<part name="parameters" element="tns:status" />
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse" />
</message>
<message name="join">
<part name="parameters" element="tns:join" />
</message>
<message name="joinResponse">
<part name="parameters" element="tns:joinResponse" />
</message>
<message name="next">
<part name="parameters" element="tns:next" />
</message>
<message name="nextResponse">
<part name="parameters" element="tns:nextResponse" />
</message>
<message name="save">
<part name="parameters" element="tns:save" />
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse" />
</message>
<portType name="game">
<operation name="statuses">
<input wsam:Action="http://services/game/statusesRequest" message="tns:statuses" />
<output wsam:Action="http://services/game/statusesResponse" message="tns:statusesResponse" />
</operation>
<operation name="status">
<input wsam:Action="http://services/game/statusRequest" message="tns:status" />
<output wsam:Action="http://services/game/statusResponse" message="tns:statusResponse" />
</operation>
<operation name="join">
<input wsam:Action="http://services/game/joinRequest" message="tns:join" />
<output wsam:Action="http://services/game/joinResponse" message="tns:joinResponse" />
</operation>
<operation name="next">
<input wsam:Action="http://services/game/nextRequest" message="tns:next" />
<output wsam:Action="http://services/game/nextResponse" message="tns:nextResponse" />
</operation>
<operation name="save">
<input wsam:Action="http://services/game/saveRequest" message="tns:save" />
<output wsam:Action="http://services/game/saveResponse" message="tns:saveResponse" />
</operation>
</portType>
<binding name="gamePortBinding" type="tns:game">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="statuses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="status">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="join">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="next">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="save">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="game">
<port name="gamePort" binding="tns:gamePortBinding">
<soap:address location="http://localhost:8080/GService/game" />
</port>
</service>
</definitions>